torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
scipy==1.12.0
matplotlib==3.9.2
nltk==3.8.1
datasets==5.0.1
huggingface_hub
pillow
torchmetrics[image]
lpips
scikit-image
jupyter
nbformat==5.10.4
nbconvert==7.16.6
jupytext
pyarrow
